<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{'/stylesheets/style2.css'}" rel="stylesheet"/>


    <title>third Question</title>
</head>
<body>
<p>MY THIRD QUESTION</p>

<form method="post">
    <p>Username<input type="text" name="name"></p>
    <p>Password<input type="password" name="password"></p>
    <p>Competency<input type="text" name="competency"></p>
    <p>Salary<input type="number" name="salary"></p>
    <p>Mentor<input type="text" name="mentor"></p>

    <br>
    <button type="submit">Submit</button>

</form>
</body>
</html>
